<%= form_with model: @article, :html => { :onsubmit => 'myFunction();' }, id: "frm1", remote: true do |form| %>

  <script>    
    function myFunction() {
      if (document.getElementById("article_slug").value === "") {
          document.getElementById("article_slug").value = document.getElementById("article_title").value;
          }
          str = document.getElementById("article_slug").value
  
          str = str.replace(/^\s+|\s+$/g, ''); // trim
          str = str.toLowerCase();

          var ru=("А-а-Б-б-В-в-Ґ-ґ-Г-г-Д-д-Е-е-Ё-ё-Є-є-Ж-ж-З-з-И-и-І-і-Ї-ї-Й-й-К-к-Л-л-М-м-Н-н-О-о-П-п-Р-р-С-с-Т-т-У-у-Ф-ф-Х-х-Ц-ц-Ч-ч-Ш-ш-Щ-щ-Ъ-ъ-Ы-ы-Ь-ь-Э-э-Ю-ю-Я-я").split("-")   
          var en=("A-a-B-b-V-v-G-g-G-g-D-d-E-e-E-e-E-e-ZH-zh-Z-z-I-i-I-i-I-i-J-j-K-k-L-l-M-m-N-n-O-o-P-p-R-r-S-s-T-t-U-u-F-f-H-h-TS-ts-CH-ch-SH-sh-SCH-sch-'-'-Y-y-'-'-E-e-YU-yu-YA-ya").split("-")   
          var res = '';
          for(var i=0, l=str.length; i<l; i++){ 
            var s = str.charAt(i), n = ru.indexOf(s); 
            if(n >= 0) { res += en[n]; } 
            else { res += s; } 
            }

          str = res.toString().toLowerCase()
          .replace(/\s+/g, '-')           // Replace spaces with -
          .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
          .replace(/\-\-+/g, '-')         // Replace multiple - with single -
          .replace(/^-+/, '')             // Trim - from start of text
          .replace(/-+$/, '');            // Trim - from end of text
          document.getElementById("article_slug").value = str
    }
    </script>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p id="slug">
    <%= form.label :slug %><br>
    <%= form.text_field :slug %>
  </p>


  <p id="title>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit :class => 'btn btn-info'  %>
  </p>
  
<% end %>