<!-- 
<form>
  <label>Say something</label> <br>
  <input type="text" data-behavior="comment_speaker">
</form> 
-->


<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<div data-article-id="<%= @article.id %>" > </div>
<div id="comments" data-channel="comments" >
  <%= render @article.comments %>
</div>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>